.searchContainer {
  border: 1px solid red;
}

.searchInput {
  background-color: transparent;
  border-style: none;
  border: 1px solid #fff;
}

.searchImg {
  position: relative;
}

@media (max-width: 320px) {
  /* Estilos para dispositivos com largura até 320px */
}

@media (min-width: 321px) and (max-width: 480px) {
  /* Estilos para dispositivos móveis médios */
  .searchContainer {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* Estilos para tablets */
  .searchContainer {
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
  }
  .searchInput {
    height: 3vh;
    border-radius: 12px;
    width: 90%;
  }
  .searchImg {
    right: 15%;
    top: 0.5vh;
    height: 2vh;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para notebooks pequenos */
  .searchContainer {
    width: 25%;
    display: flex;
  }
  .searchInput {
    height: 3vh;
    border-radius: 12px;
    width: 100%;
  }
  .searchImg {
    z-index: 1;
    left: 82%;
    top: 0.5vh;
    height: 2vh;
  }
}

@media (min-width: 1025px) and (max-width: 1439px) {
  /* Estilos para Desktop */
}

@media (min-width: 1440px) {
  /* Estilos para Desktop telas grandes */
}